html {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
  }
*:not(img),
*::before,
*::after {
    box-sizing: inherit;
}
body, .container, #pad, .rows, .squares, .selection {
    display: flex;
}
body, .container {
    justify-content: center;
    align-items: center;
}
body, #pad, .rows, .squares {
    flex: auto;
}
body, .container, #pad {
    flex-flow: column wrap;
}
body, .container, .selection {
    gap: 1em;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(50, 50, 50);
}
.container, #pad, .buttons {
    border-radius: 7px;
    padding: 10px;
}
.container, .buttons {
    background-color: #e48c65;
}
#pad {
    min-width: clamp(300px, 400px, 500px);
    min-height: clamp(300px, 400px, 500px);
    background-color: rgb(90, 90, 90);
}
.squares {
    min-height: 50%;
    border: 1px solid rgb(49, 49, 49);
    background-color: whitesmoke;
}
.buttons {
    border: none;
    min-width: 70px;
}
.buttons:nth-child(1) {
    background-color: #54927d;
}
.buttons:nth-child(2) {
    background-color: #984b4b;
}