html {
    font-size: 10px;
    /* font from rel */
    font-family: "Open Sans", sans-serif;
    /* alternative css box model */
    box-sizing: border-box;
  }
  /* remove exception to fit image to the content */
  *:not(img),
  *::before,
  *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
    height: 50%;
    background-color: pink;
}
.grid-squares {
    border: solid 1px black;
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    flex: auto;
}